<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>password</title>
</head>

<body style="padding: 3vh 5vw; background-color: #ededed;">
  <div style="padding: 1vh 3vw; background-color: white; border-radius: 10px;">
    <h2>
      Action Suggested: Change Your Password
    </h2>

    <p>
      You are receiving this email because
      <b>
        <%= to %>
      </b>
      was used to register via Google in the <%= APP_NAME %> app. Your password was created automaticly. You can set new
        password on the user profile page after login via Google.
        <ul>
          <li>If you have any problems, please use the
            <b>
              <%= APP_NAME %>
            </b>
            website to contact us.
          </li>
          <li>If you do not confirm this request, no further action is required.</li>
        </ul>

        <p>Best, <br>
          the <%= APP_NAME %> team</p>
  </div>

  <p style="padding: 1vh 3vw; color: grey;">This email tells you about important changes to your account.</p>
</body>

</html>